.projects--title {
    text-align: center;
    text-decoration: underline;
}

.project--container {
    margin: 50px;
    text-align: center;
}

.projects--icon {
    color: rebeccapurple;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .project--container{
        margin: 0 auto;
    }

    .portfolio--row {
        display: block;
    }
}