.index--header {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.row .index--social {
    justify-content: flex-start;
}

.index--image-container {
    width: 300px;
    margin: 0 auto;
}

.index--summary {
    flex: 50%;
}

.index--description {
    margin-bottom: 30px;
}

body {
    color: #FFFFFF;
    background-color: #303030;
}

a {
    color: #FFFFFF;
}

hr {
    background-color: lightgray;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .index--header {
        display: block;
    }

    .index--image-container {
        width: 175px;
    }

}
