.social--link {
    margin: 2rem;
    color: inherit;
    text-decoration: none;
}

.social--icon {
    font-size: 2rem;
}

.social--icon:hover {
    -webkit-animation: bounce .7s;
    animation: bounce .7s;
}

.social--github {
    color: purple;
}

.social--linkedin {
    color: blue;
}

.social--container {
    text-align: center;
}