.social--link {
    padding:20px;
    color: inherit;
    text-decoration: none;
}

.social--icon {
    font-size: 2rem;
}

.social--icon:hover {
    -webkit-animation: bounce .7s;
    animation: bounce .7s;
}

.social--github {
    color: rebeccapurple;
}

.social--linkedin {
    color: blue;
}

.social--email {
    color: lightgray;
}

.social--container {
    margin-top: 5px;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .social--link {
        padding: 20px;
    }
}