.index--header {
    display: inline-block;
}

.row .index--social {
    justify-content: flex-start;
}

.index--image-container {
    width: 300px;
    margin: 0 auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .index--header {
        display: block;
    }

    .index--image-container {
        width: 150px;
    }

}